.card-section{
    
    float: left;
    margin: 10px ;
    justify-content: center;
}

.card {
    width: 350px;
    min-height: 450px;
    transition: all 500ms;
    
}
.card:hover {
    box-shadow: 3px 3px 8px lightgray;

}

.card-footer {
    display: flex;
}
.card-img-top {
    height: 200px;
}