.app {
    width: 100%;
}




.our-course {
    text-align: center;
    font-size: 30px;
    padding: 3px 15px ;
    font-weight: 400;
    border: 2px solid lightgray;
}

.course-title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px; 
}